﻿@model TestYoutube.Models.Student

<h1>Add Student</h1>

<form asp-action="Create" method="POST">
	<div class="mb-3">
	    <label class="form-label">Name</label>
	    <input asp-for="name" type="text" class="form-control" required />
	</div>

	<div class="mb-3">
	    <label class="form-label">Email</label>
	    <input asp-for="email" type="email" class="form-control" required />
	</div>

	<input type="submit" name="submit" class="btn btn-success" value="Submit" />
</form>