﻿@model TestYoutube.Models.Student

<h2>Delete Student</h2>



<form asp-action="Delete" asp-route-id="@Model.id" method="post">
    <div class="form-group">
        <label asp-for="name" class="control-label">Name</label>
        <input asp-for="name" type="text" class="form-control" readonly />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="email" class="control-label">Email</label>
        <input asp-for="email" type="text" class="form-control" readonly />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>

    <hr />

    <input type="submit" name="submit" class="btn btn-danger" value="Delete" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

