﻿@model TestYoutube.Models.Student

<h2>Edit Student</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="name" class="control-label">Name</label>
        <input asp-for="name" type="text" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="email" class="control-label">Email</label>
        <input asp-for="email" type="text" class="form-control" />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>
    <input type="submit" name="submit" value="Update" class="btn btn-success" />
</form>
