﻿@model IEnumerable<TestYoutube.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h1>Student List</h1>
<hr />
<a href="/Student/Create" class="btn btn-success">Add New Student</a>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
	    </tr>
    </thead>
    <tbody>
    @foreach(var student in Model) { 
		<tr>
	        <td>@student.id</td>
	        <td>@student.name</td>
	        <td>@student.email</td>
            <td>
	            <a asp-action="Edit" asp-route-id="@student.id">Edit</a>
	        </td>
            <td>
	            <a asp-action="Delete" asp-route-id="@student.id">Delete</a>
	        </td>
		</tr>
    }
    </tbody>
</table>